# Practice Questins -> SQL

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({
    'rollno': [101, 102, 103, 104, 105, 106],
    'name': ['Anil','Bhumika', 'Chetan', 'Dhruv', 'Emaanuel', 'Farah'],
    'marks': [78, 93, 85, 96, 12, 85],
    'grade': ['C','A', 'B', 'A', 'F', 'B'],
    'city': ['Pune', 'Mumbai', 'Mumbai', 'Delhi', 'Delhi', 'Delhi']
},
index=[1,2,3,4,5,6]
)

   rollno      name  marks grade    city
1     101      Anil     78     C    Pune
2     102   Bhumika     93     A  Mumbai
3     103    Chetan     85     B  Mumbai
4     104     Dhruv     96     A   Delhi
5     105  Emaanuel     12     F   Delhi
6     106     Farah     85     B   Delhi